@{
    ViewData["Title"] = "Menu";
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>FREE MUSIC</title>
<style>
  body {
    background-image: url("/images/fundo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(21, 29, 33);
  }
h1.intro {
  color: rgb(0, 255, 34);
  text-align: center;
}

.important {
  background-color: rgb(21, 29, 33);
}

body {
    display: block;
    margin: 8px;
}
</style>
</head>
<body>

<h1 class="intro important">FREE MUSIC</h1>
<style>
h1.intro {
  color: rgb(0, 255, 34);
  text-align: center;
}
</style>
<header>
  <nav>
    <ul class="topnav">
      
     <a href="http://localhost:5000/Home"><img src="/images/logo.png" alt="Logo" width=300 height=85></a>
      
    </ul>
  </nav>
</header>
<br/>

<header>
  
</header>
</section>
<selection>
  <section class="CENTRO">
    <h1>A MELHOR OPÇÃO!</h1>
    <style>
      .CENTRO {
            display: flex;
            align-items: center;
            justify-content: center;
      }
      body{
        color:chartreuse;
      }
    </style>
  </section>
</selection>

<br/><br/><br/><br/>
<selection>
  <section class="textoo">
    <div align="center">
      <p style="font-size: 25px;">Somos um grupo pequeno que tem como objetivo disponibilizar um meio de entretenimento musical para todos!</p>
      </div>
      <style>
        .textoo {
          display: flex;
          align-items: center;
          justify-content: center;
          color: green;
        }
      </style>
</selection>

</body>
</html>
