@{
    ViewData["Title"] = "Playlists";
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>FREE MUSIC</title>
<style>
  body {
    background-image: url("/images/fundo.jpg"), url(fundo2.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: rgb(21, 29, 33);
  }
h1.intro {
  color: rgb(0, 255, 34);
  text-align: center;
}

.important {
  background-color: rgb(21, 29, 33);
}

body {
    display: block;
    margin: 8px;
}
</style>
</head>
<body>

<h1 class="intro important">FREE MUSIC</h1>
<style>
h1.intro {
  color: rgb(0, 255, 34);
  text-align: center;
}
</style>
<header>
  <nav>
    <ul class="topnav">
      
     <a href="http://localhost:5000/Home"><img src="/images/logo.png" alt="Logo" width=300 height=85></a>
      
    </ul>
  </nav>
</header>
<br/>

<header>

</header>
</section>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<selection>
  <section class="CENTRO">
    <h1>VOCÊ PODE GOSTAR:</h1>
    <style>
      .CENTRO {
            display: flex;
            align-items: center;
            justify-content: center;
      }
      body{
        color:chartreuse;
      }
    </style>
  </section>
</selection>

<br/><br/><br/><br/>

<section class="LOFI">
<h3>LOFI</h3>
<style>
  .LOFI {
    display:list-item;
    align-items: center;
    justify-content: center;
  }
</style>

<iframe src="https://open.spotify.com/embed/track/1wq9VorVTLKL2pmRnfOJsk" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</section>
<section class="ELETRONICA">
  <h3>ELETRONICA</h3>
  <style>
    .ELETRONICA{
      display: list-item;
      align-items: center;
      justify-content: center;
    }
  </style>

<iframe src="https://open.spotify.com/embed/track/6ePQanKJhe0GcKOqwj6lOU" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</section>
<section class="DUBSTEP">
  <h3>DUBSTEP</h3>
  <style>
    .DUBSTEP {
      display: list-item;
      align-items: center;
      justify-content: center;
    }
  </style>

<iframe src="https://open.spotify.com/embed/track/76I3PmbGZazzNlEwlp1y85" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</section>

<section class="TRAP">
  <h3>TRAP</h3>
  <style>
.TRAP {
      display: list-item;
      align-items: center;
      justify-content: center;
}
  </style>

<iframe src="https://open.spotify.com/embed-podcast/episode/5KPjdiUHY98OnsCjGN2oC0" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<p>MAIS OPÇÕES NO APP!</p>
</section>

</body>
</html>